@import '../../../styles/resolutions.scss';

.section-img-single {
    padding-bottom: 200px;

    @include desktop {
        padding-bottom: 450px;
    }

    &.single-2 {
        padding-top: 200px;
    }
}