@import "./utils/variables.scss";
@import "./containers/container.scss";
@import "./components/language.scss";
@import "./components/menu.scss";
@import "./containers/grid.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-family: 'Inter', sans-serif;
  font-family: 'Playfair Display', serif;
}

img {
  width: auto;
}

.hide {
    opacity: 0;
    visibility: hidden;
}