.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-h-one {
        margin-top: 55vh;
        color: $colorBlue;
        font-size: 96px;
        text-transform: uppercase;
    }
}