.section {
    background-color: $colorOrangeLight;

    &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 15px;
        row-gap: 15px;
        padding: 0 15px 15px;

        .image-box {
            position: relative;
        }

        .image-item {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .image-popup {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            background-color: rgba($color: #000000, $alpha: .9);
            cursor: pointer;
            transition: all .4s;
            z-index: 100;

            img {
                width: auto;
                max-height: 90%;
                margin: auto;
            }
        }

        .image-overlay {
            transition: all .4s;
        }

        .text {
            grid-column: 1/3;
            grid-row: 1/3;
            margin: 10vh 0 15vh;
            font-size: 22px;
            text-align: left;
            font-weight: 100;     
            color: $colorBlue;
            white-space: pre-wrap;
            
            p {
                width: 90%;
            }
        }

        &-full {
            padding-top: 15px;

            .image {
                &-box {    
                    &-one {
                        grid-column: 1/4;
                        grid-row: 1/4;
                    }
                }
            }
        }

        &-header {
            height: 100vh;
            padding-top: 15px;

            .image {
                &-box {    
                    &-one {
                        grid-column: 1/4;
                        grid-row: 1/4;
                    }
                }
            }

            .text {
                grid-column: 2/4;
                grid-row: 2/4;
                font-size: 10vw;
                color: $colorOrangeLight;
                z-index: 10;
            }
        }

        &-text {
           grid-template-rows: repeat(1, 1fr);
        }

        &-one {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 2;
                    }
        
                    &-two {
                        grid-column: 1/3;
                        grid-row: 1;
                    }
        
                    &-three {
                        grid-column: 2;
                        grid-row: 3;
                    }
        
                    &-four {
                        grid-column: 2;
                        grid-row: 2;
                    }
                }
            }
        }

        &-two {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1;
                    }
        
                    &-two {
                        grid-column: 2;
                        grid-row: 1;
                    }
        
                    &-three {
                        grid-column: 1;
                        grid-row: 2;
                    }
        
                    &-four {
                        grid-column: 2;
                        grid-row: 2;
                    }

                    &-five {
                        grid-column: 2;
                        grid-row: 3;
                    }

                    &-eight {
                        grid-column: 1/3;
                        grid-row: 3;
                    }
                }
            }
        }

        &-three {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1;
                    }
        
                    &-two {
                        grid-column: 2;
                        grid-row: 1;
                    }
                }
            }

            .text {
                grid-column: 1/3;
                grid-row: 2/4;
            }
        }

        &-four {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1/3;
                        grid-row: 1/3;
                    }
        
                    &-two {
                        grid-column: 3;
                        grid-row: 1;
                    }

                    &-three {
                        grid-column: 1;
                        grid-row: 3;
                    }

                    &-four {
                        grid-column:2;
                        grid-row:3;
                    }

                    &-five {
                        grid-column: 3/4;
                        grid-row: 2/4;
                    }
                }
            }
        }

        &-five {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1;
                    }
        
                    &-two {
                        grid-column: 2;
                        grid-row: 1/3;
                    }

                    
                    &-three {
                        grid-column: 3;
                        grid-row: 1;
                    }

                    &-four {
                        grid-column:1;
                        grid-row: 2/4;
                    }

                    &-five {
                        grid-column: 2;
                        grid-row: 3;
                    }

                    &-six {
                        grid-column: 3;
                        grid-row: 3;
                    }
                }
            }
        }

        &-six {
            .image {
                &-box {    
                    &-one {
                        grid-column: 2/4;
                        grid-row: 1/3;
                    }
        
                    &-two {
                        grid-column: 2;
                        grid-row: 3;
                    }
                    
                    &-three {
                        grid-column: 3;
                        grid-row: 3;
                    }

                    &-four {
                        grid-column: 1;
                        grid-row: 2/4;
                    }
                }
            }
        }

        &-seven {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1;
                    }
        
                    &-two {
                        grid-column: 2;
                        grid-row: 1;
                    }

                    
                    &-three {
                        grid-column: 3;
                        grid-row: 1/3;
                    }

                    &-four {
                        grid-column:1/3;
                        grid-row: 2/4;
                    }

                    &-five {
                        grid-column: 3;
                        grid-row: 3;
                    }
                }
            }
        }

        &-eight {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1/3;
                    }
        
                    // &-two {
                    //     grid-column: 2;
                    //     grid-row: 1;
                    // }

                    &-two {
                        grid-column: 3;
                        grid-row: 1;
                    }

                    &-three {
                        grid-column:1;
                        grid-row: 3;
                    }

                    &-four {
                        grid-column: 2;
                        grid-row: 2/4;
                    }

                    &-five {
                        grid-column: 3;
                        grid-row: 2;
                    }

                    &-six {
                        grid-column: 3;
                        grid-row: 3;
                    }
                }
            }
        }

        &-nine {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1;
                    }
        
                    &-two {
                        grid-column: 2;
                        grid-row: 1;
                    }

                    &-three {
                        grid-column:3;
                        grid-row: 1/3;
                    }

                    &-four {
                        grid-column: 1;
                        grid-row: 2/4;
                    }

                    &-five {
                        grid-column: 2;
                        grid-row: 2/4;
                    }
                }
            }
        }

        &-ten {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1/3;
                        grid-row: 1/3;
                    }
        
                    &-two {
                        grid-column: 3;
                        grid-row: 2/4;
                    }

                    &-three {
                        grid-column:3;
                        grid-row: 1;
                    }

                    &-four {
                        grid-column: 1;
                        grid-row: 3;
                    }
                }
            }
        }

        &-eleven {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1/3;
                    }
        
                    &-two {
                        grid-column: 2;
                        grid-row: 1/3;
                    }

                    &-three {
                        grid-column:3;
                        grid-row: 1/3;
                    }

                    &-four {
                        grid-column: 1;
                        grid-row: 3;
                    }
                }
            }
        }

        &-twelve {
            .image {
                &-box {    
                    &-one {
                        grid-column: 1;
                        grid-row: 1/3;
                    }
        
                    &-two {
                        grid-column: 2/4;
                        grid-row: 1/3;
                    }

                    &-three {
                        grid-column:3;
                        grid-row: 1/3;
                    }

                    &-five {
                        grid-column: 2;
                        grid-row: 3;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section {

    }
}

@media screen and (min-width: 1024px) {
    .section {
        background-color: $colorOrangeLight;

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 15px;
            row-gap: 15px;
            padding: 0 15px 15px;
    
            .image-item {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            .text {
                grid-column: 2/4;
                grid-row: 1/3;
                margin: 20vh 0 30vh;
                font-size: 32px;
                text-align: left;
                font-weight: 100;     
                color: $colorBlue;
                white-space: pre-wrap;
                
                p {
                    width: 90%;
                }
            }
    
            &-full {
                padding-top: 15px;
    
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1/4;
                            grid-row: 1/4;
                        }
                    }
                }
            }
    
            &-header {
                height: 100vh;
                padding-top: 15px;
    
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1/4;
                            grid-row: 1/4;
                        }
                    }
                }
    
                .text {
                    grid-column: 2/4;
                    grid-row: 2/4;
                    font-size: 10vw;
                    color: $colorOrangeLight;
                }
            }
    
            &-text {
               grid-template-rows: repeat(1, 1fr);
            }
    
            &-one {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 2;
                            grid-row: 1;
                            
                        }
            
                        &-two {
                            grid-column: 1;
                            grid-row: 2/4;
                        }
            
                        &-three {
                            grid-column: 2/4;
                            grid-row: 2/4;
                        }
            
                        &-four {
                            grid-column: 3;
                            grid-row: 1;
                        }
                    }
                }
            }
    
            &-two {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1/1;
                            grid-row: 1/1;
                        }
            
                        &-two {
                            grid-column: 2/2;
                            grid-row: 1/1;
                        }
            
                        &-three {
                            grid-column: 3/3;
                            grid-row: 1/1;
                        }
            
                        &-four {
                            grid-column: 1/1;
                            grid-row: 2/2;
                        }
    
                        &-five {
                            grid-column: 3;
                            grid-row: 3;
                        }
    
                        &-eight {
                            grid-column: 2/4;
                            grid-row: 2/4;
                        }
                    }
                }
            }
    
            &-three {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 2;
                            grid-row: 3;
                        }
            
                        &-two {
                            grid-column: 3;
                            grid-row: 3;
                        }
                    }
                }
    
                .text {
                    grid-column: 2/4;
                    grid-row: 2/4;
                    margin: 0;
                }
            }
    
            &-four {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1/3;
                            grid-row: 1/3;
                        }
            
                        &-two {
                            grid-column: 3;
                            grid-row: 1;
                        }
    
                        &-three {
                            grid-column: 1;
                            grid-row: 3;
                        }
    
                        &-four {
                            grid-column:2;
                            grid-row:3;
                        }
    
                        &-five {
                            grid-column: 3;
                            grid-row: 2;
                        }
                    }
                }
            }
    
            &-five {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1;
                            grid-row: 1;
                        }
            
                        &-two {
                            grid-column: 2;
                            grid-row: 1/3;
                        }
    
                        
                        &-three {
                            grid-column: 3;
                            grid-row: 1;
                        }
    
                        &-four {
                            grid-column:1;
                            grid-row: 2/4;
                        }
    
                        &-five {
                            grid-column: 2;
                            grid-row: 3;
                        }
    
                        &-six {
                            grid-column: 3;
                            grid-row: 3;
                        }
                    }
                }
            }
    
            &-six {    
                .image {
                    &-box {              
                        &-two {
                            grid-column: 1;
                            grid-row: 2;
                        }
                        
                        &-three {
                            grid-column: 2;
                            grid-row: 3;
                        }
    
                        &-four {
                            grid-column: 2;
                            grid-row: 1/3;
                        }
                    }
                }
            }
    
            &-seven {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1;
                            grid-row: 1;
                        }
            
                        &-two {
                            grid-column: 2;
                            grid-row: 1;
                        }
    
                        
                        &-three {
                            grid-column: 3;
                            grid-row: 1/3;
                        }
    
                        &-four {
                            grid-column:1/3;
                            grid-row: 2/4;
                        }
    
                        &-five {
                            grid-column: 3;
                            grid-row: 3;
                        }
                    }
                }
            }
    
            &-eight {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1;
                            grid-row: 1/3;
                        }
            
                        // &-two {
                        //     grid-column: 2;
                        //     grid-row: 1;
                        // }
    
                        &-two {
                            grid-column: 3;
                            grid-row: 1;
                        }
    
                        &-three {
                            grid-column:1;
                            grid-row: 3;
                        }
    
                        &-four {
                            grid-column: 2;
                            grid-row: 2/4;
                        }
    
                        &-five {
                            grid-column: 2;
                            grid-row: 2;
                        }
    
                        &-six {
                            grid-column: 1;
                            grid-row: 3;
                        }
                    }
                }
            }
    
            &-nine {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1;
                            grid-row: 1;
                        }
            
                        &-two {
                            grid-column: 2;
                            grid-row: 1;
                        }
    
                        &-three {
                            grid-column:3;
                            grid-row: 1/3;
                        }
    
                        &-four {
                            grid-column: 1;
                            grid-row: 2/4;
                        }
    
                        &-five {
                            grid-column: 2;
                            grid-row: 2/4;
                        }

                        &-six {
                            grid-column: 3;
                            grid-row: 3;
                        }
                    }
                }
            }
    
            &-ten {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1/3;
                            grid-row: 1/3;
                        }
            
                        &-two {
                            grid-column: 3;
                            grid-row: 2/4;
                        }
    
                        &-three {
                            grid-column:3;
                            grid-row: 1;
                        }
    
                        &-four {
                            grid-column: 1;
                            grid-row: 3;
                        }

                        &-four {
                            grid-column: 1;
                            grid-row: 3;
                        }

                        &-five {
                            grid-column: 2;
                            grid-row: 3;
                        }
                    }
                }
            }
    
            &-eleven {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 1;
                            grid-row: 1/3;
                        }
            
                        &-two {
                            grid-column: 3;
                            grid-row: 3;
                        }
    
                        &-three {
                            grid-column:3;
                            grid-row: 1/3;
                        }
    
                        &-four {
                            grid-column: 1;
                            grid-row: 3;
                        }
                        
                        &-four {
                            grid-column: 3;
                            grid-row: 3;
                        }
                    }
                }
            }
    
            &-twelve {
                .image {
                    &-box {    
                        &-one {
                            grid-column: 2;
                            grid-row: 1/3;
                        }
            
                        &-two {
                            grid-column: 3;
                            grid-row: 2;
                        }
    
                        &-three {
                            grid-column:3;
                            grid-row: 1/3;
                        }
    
                        &-five {
                            grid-column: 2;
                            grid-row: 3;
                        }
                    }
                }
            }

            &-thirteen {
                .image {
                    &-box {
                        &-two {
                            grid-column:2;
                            grid-row: 3;
                        }

                        &-four {
                            grid-column:1;
                            grid-row: 1/3;
                        }
                    }
                }
            }

            &-last {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10vh 0 10vh;
                background-color: $colorBlue;

                h3,
                h4 {
                    font-weight: 100;     
                    color: $colorOrangeLight;
                    font-family: inherit;
                }

                h3 {
                    font-size: 32px;
                }

                h4 {
                    font-size: 18px;
                }

                .list {
                    display: flex;
                    list-style-type: none;
                    align-items: center;
                    justify-content: center;

                    &-item {
                        font-size: 18px;
                        font-weight: 100;     
                        color: $colorOrangeLight;
                        padding: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    .section {
        
    }
}