@import '../../styles/variables.scss';
@import '../../styles/resolutions.scss';

.container {
    background-color: $colorOrangeLight;

    &-header {
        position: relative;
    }

    &-layout {
        max-width: 1200px;
        margin: 0 auto;
        padding: 3px;

        @include desktop {
            padding: 15px 0;
        }
    }
}