@import '../../styles/utils/variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 0 10vh;
    background-color: $colorBlue;

    h3,
    h4 {
        font-weight: 100;
        color: $colorOrangeLight;
        font-family: inherit;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 18px;
    }

    .list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        justify-content: center;

        &-item {
            font-size: 18px;
            font-weight: 100;
            color: $colorOrangeLight;
            padding: 10px;
        }
    }
}