@import '../../styles/variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: $colorBlue;

    &-text-small,
    &-text-mid,
    &-header,
    &-list-item-link {
        font-weight: 100;
        color: $colorOrangeLight;
        font-family: inherit;
    }

    &-header {
        font-size: 32px;
        padding-bottom: 20px;
    }

    &-text-mid {
        font-size: 18px;
    }

    &-text-small {
        font-size: 12px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        gap: 20px;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }

        &-item {
            font-size: 18px;
            font-weight: 100;
            
            &-link {
                text-decoration: none;
            }
        }
    }
}